<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>seuHome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/seudo/css/home.css' %}">
    <link rel="shortcut icon" href="{% static '/seudo/favicon.png' %}"/>


</head>
<body>
    <div class="wrapper">
        <div style="height: 36vh">
            <div style="height: 20vh"></div>
            <div class="typing-demo">This is seudoTable.</div>
        </div>
        <div style="height: 30vh">
            <div style="width: 50%;margin: 0 auto">
                <p class="abstract">  seudoTable is a tool based on a fully automated approach for a complete Semantic Table Interpretation process. It deals with annotating each element of a table and allow to visually explore each phase of the whole process.</p>
            </div>
        </div>

        <div class="swiper-button swiper-next-button">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" onclick="location.href='/workspace/upload'">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
        </div>

    </div>

</body>
</html>