{% for table in tables %}
    <tr id="{{ table.id }}">
        <td class="globalStatus {{ table.global_status }}"></td>
        <td class="table-name">
            <strong>{{ table.file_name }}</strong>
        </td>
        <td class="table-date">{{ table.pub_date | date:"d/m/Y - H:i:s" }}</td>
        <td class="table-date">{{ table.last_edit_date | date:"d/m/Y - H:i:s" }}</td>
        <td class="table-status">
            <strong>{{ table.global_status }}</strong>
        </td>

        <td class="table-buttons">
            <div class="btn-group">
                {% if table.global_status == "TODO" %}
                    <a href="{% url 'start' table.id %}" class="btn btn-secondary btn-xs">
                        <i class="fas fa-cog"></i>
                        View & Process
                    </a>
                {% elif table.global_status == "DOING" %}
                    <a href="{% url 'direct' table.id %}" class="btn btn-secondary btn-xs">
                        <i class="fas fa-cog"></i>
                        View & Process
                    </a>

                {% else %}
                    <a href="{% url 'seudo' table.id%}" class="btn btn-secondary btn-xs">
                        <i class="fas fa-cog"></i>
                        View & Process
                    </a>

                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}

{% if not tables and searching %}
    <tr>
        <td colspan="8" class="text-center text-big">
            No tables found
        </td>
    </tr>

{% endif %}